<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smoothtalk"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Necessary permissions to access contacts and send messages -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendToNumber"
            android:label="@string/title_activity_send_to_number"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smoothtalk.MainActivity" />
        </activity>
        <activity
            android:name=".GetContacts"
            android:label="@string/title_activity_get_contacts"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".GetSettings"
            android:label="@string/title_activity_get_settings"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".GetTestLuck"
            android:label="@string/title_activity_get_test_luck"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".SendToRandomCon"
            android:label="@string/title_activity_send_to_random_con"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
